<div id="back"><%= link_to "&larr; Back".html_safe, @contest %></div>
<div class="centered-text">
	<h2 class="white"><%= @submitter %>'s submission to '<%= @contest.name %>'</h2>
	<hr class="white">
</div>
<div class="centered-600 white">
	<%= content_tag(:iframe, "", :src => @video, :style => "width: 540px; height: 405px;") %>
</div>