<div class="container inner shadow">
	<div class="row">
		<div class="span12">
			<div class="centered-text">
				<h1>Browse Prompts</h1>
			</div>

			<% @contests.each do |contest| %>				
				<div class="contest animated">
					<%= link_to "", contest, class: "follow" %>
					<h3>
						<% if !contest %>
							Error!
						<% else %>
							<%= contest.name %>
						<% end %>
					</h3>
					<br>
					<%= content_tag(:iframe, "", :src => embed_video(contest), :class => "shadow") %>
				</div>
			<% end %>
		</div>
	</div>
</div>