<div id="back"><%= link_to "&larr; Back".html_safe, user_path(current_user) %></div>
<div class="centered-text">
	<h1 class="white"><%= @contest.name %></h1>
</div>
<div class="centered-600">
	
</div>