<div class="centered-text">
	<h1 class="title white">About Avalanche.io</h1>
</div>
<div class="row">
	<div class="span7">
		<div class="padded-left">
			<p>Stuff and more stuff.</p>
		</div>
	</div>
	<div class="span4">
		
	</div>
</div>