<div class="container inner shadow">
	<div class="row">
		<div class="span12">
			<div class="centered-800">
				<div class="centered-text">
					<h1 class="title white">About Avalanche</h1>
				</div>
				<div class="row">
					<div class="span7">
						<div class="padded-left">
							<p>At Avalanche, we curate contests to help get your talent recognized and connected with incredible opportunities. From casting contests for TV roles to startup pitch contests for a meeting with a premier investor, Avalanche uses the <a href="http://en.wikipedia.org/wiki/The_Wisdom_of_Crowds">wisdom of crowds</a> to find the diamonds in the rough. Find a prompt you love and join the Avalanche!</p>
						</div>
					</div>
					<div class="span3 centered-text">
						<%= image_tag "Logo_Final.png" %>
					</div>
				</div>
				<hr class="white">
				<div class="row">
					<div class="centered-text">
						<h1 class="title white">Meet the team</h1>
					</div>
					<div class="span12">
						<div class="team">
							<div class="row">
								<div class="span9">
									The Avalanche team was forged at TechStars in the Fall of 2012.  Rohan, who was working as a TechStars associate at the time, had an idea for a startup called "Hype".  Cris and Alex, both HackStars at the time, also emerged from TechStars' Fall class with aspirations to form their own company.  The three decided to join together and combine their ideas; thus, Avalanche was formed.
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="span4" align="center">
									<div id="rohan" class="team-member shadow"></div>
								</div>
								<div class="span5">
									<h2>Rohan Puri</h2>
									<span><i>Co-founder, CEO</i></span>
									<p>
									While working with entrepreneurs in DC and Boston, Rohan mentored multiple early-stage startups in everything from mobile/lean prototyping to body language and presentations skills. Prior to co-founding Avalanche, he developed apps in mobile innovation labs and founded two early-stage startups.
									</p>
								</div>
							</div>
							<div class="row">
								<div class="span4" align="center">
									<div id="cris" class="team-member shadow"></div>
								</div>
								<div class="span5">
									<h2>Cristoforo Magliozzi</h2>
									<span><i>Co-founder, Brand & Product Lead</i></span>
									<p>
									Cristoforo is a passionate transmedia storyteller whose filmmaking adventures have taken him to Italy, Ghana, and the White House.  At Avalanche, he is responsible for architecting the brand, designing the user interface and experience, and coordinating public outreach.  Cris is an avid gesticulator and enjoys rapping in Italian.
									</p>
								</div>
							</div>
							<div class="row">
								<div class="span4" align="center">
									<div id="alex" class="team-member shadow"></div>
								</div>
								<div class="span5">
									<h2>Alex Hugon</h2>
									<span><i>Co-founder, Chief Architect</i></span>
									<p>
									Alex serves as the resident code monkey: he does the front- and back-end development for the site.  Prior to co-founding Avalanche, Alex did videogame development and worked at Endeca & Oracle.  He wears flip-flops all year 'round and has an unhealthy obsession with ab-workouts and Audrey Hepburn.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>