<div class="container inner shadow">
	<div class="row">
		<div class="span12">
			<div class="centered-text">
				<h1 class="title white">About Avalanche</h1>
			</div>
			<div class="row">
				<div class="span7">
					<div class="padded-left">
						<p>At Avalanche, we curate contests to help get your talent recognized and connected with incredible opportunities. From casting contests for TV roles to startup pitch contests for a meeting with a premier investor, Avalanche uses the <a href="http://en.wikipedia.org/wiki/The_Wisdom_of_Crowds">wisdom of crowds</a> to find the diamonds in the rough. Find a prompt you love and join the Avalanche!</p>
					</div>
				</div>
				<div class="span4 centered-text">
					<%= image_tag "Logo_Final.png" %>
				</div>
			</div>
		</div>
	</div>
</div>