html
{ 
	background: #FFFFFF;
}

@font-face {
    font-family: 'Bebas';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#ie-bg
{
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='bg.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='bg.jpg', sizingMethod='scale')";
}

::selection {
    background: #336666;
	color: #FFFFFF;
}
/* Gecko/Mozilla */
::-moz-selection {
    background: #336666;
	color: #FFFFFF;
}

::-webkit-selection {
	background: #336666;
	color: #FFFFFF;
}

[id*=flash_]
{
	margin-bottom: 0px;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	margin-top: -30px;
}

.error_messages
{
	padding: 10px;
	color: #3A87AD;
	background-color: #D9EDF7;
	border: 1px solid #BCE8F1;
}

.error_messages h2
{
	color: #3A87AD;
}

body
{
	color: #666666;
	background: transparent;
	background-repeat: no-repeat;
	
	font-family: 'Open Sans', sans-serif;
	/*text-shadow: 1px 1px 1px rgba(0,0,0,0.6);*/
	font-weight: 400;
	
	font-size: 14px;
	line-height: 24px;
	
	margin-top: 0px;
}

div#header
{
	z-index: 5;
	position: relative;
}



.main
{
	/*border-top: 12px solid #7893c2;*/
	padding-top: 30px;
	padding-bottom: 30px;	
	position: relative;
	background: url("bg_fade.jpg") no-repeat scroll center top #FFFFFF;
}

.mainwrap
{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.main .container
{
	width: 940px;
	top: 0px;
	padding-bottom: 30px;
	position: relative;
	text-align: left;
	color: #666666;
}

div#footer
{
	background: #E1E1E1;
	background: -moz-linear-gradient(top, #FFF 0%, #E1E1E1 100%) !important;
	background: -ms-linear-gradient(top, #FFF 0%, #E1E1E1 100%) !important;
	background: -webkit-linear-gradient(top, #FFF 0%, #E1E1E1 100%) !important;
	background: linear-gradient(top, #FFF 0%, #E1E1E1 100%) !important;
	padding-top: 30px;
	padding-bottom: 60px;
	margin-top: 0px;
	color: #666666;
	z-index: 10;
	position: relative;

}

div#footer a
{
	margin-left: 10px;
	margin-right: 10px;
	color: #666666;
	text-shadow: none;
	text-decoration: none;
}

div#footer a:hover
{
	text-decoration: underline;
}

div#bottom
{
	position: absolute;
	z-index: 5;
	background: #FAFAFA;
	bottom: 0;
	right: 0;
	left: 0;
}

.whiteshadow {
-webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 1);
-moz-box-shadow: 0 0 30px rgba(255,255,255,1);
box-shadow: 0 0 30px rgba(255, 255, 255, 1);
}

.largetext
{
	font-size: 18px;
	line-height: 26px;
}

span.dot
{
	margin-left: 10px;
	margin-right: 10px;
}

div.left
{
	float: left;
}
div.right
{
	float: right;
}

div.login-centered
{
	margin-left: auto;
	margin-right: auto;
	width: 296px;
	text-align: center;
}

div.centered-text
{
	text-align: center;
}
div.centered-200
{
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}
div.centered-inputs
{
	margin-left: auto;
	margin-right: auto;
	width: 230px;
}
div.centered-300
{
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}
div.centered-400
{
	margin-left: auto;
	margin-right: auto;
	width: 400px;
}
div.centered-600
{
	margin-left: auto;
	margin-right: auto;
	width: 600px;
}
div.centered-800
{
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}
div.centered-all
{
	margin-left: auto;
	margin-right: auto;
	width: 938px;
}



div.padded-up-down
{
	padding-top: 18px;
	padding-bottom: 18px;
}

div.padded-sides
{
	padding-left: 30px;
	padding-right: 15px;
}

div.padded-left 
{
	padding-left: 30px;
}



span.buttontext
{
	vertical-align: 6px;
}

ul li
{
	list-style-type: square;
	margin-bottom: 10px;
}

ol li
{
	margin-bottom: 10px;
	line-height: 20px;
}

textarea
{
	resize: vertical;
}

p 
{
	margin-bottom: 18px;
}

.vert-line
{
	background-image: -webkit-linear-gradient(90deg,rgba(200, 200, 200, 0) 0%,#C8C8C8 50%,rgba(200, 200, 200, 0));
	background-image: -moz-linear-gradient(90deg,rgba(200, 200, 200, 0) 0%,#C8C8C8 50%,rgba(200, 200, 200, 0));
	background-image: -ms-linear-gradient(90deg,rgba(200, 200, 200, 0) 0%,#C8C8C8 50%,rgba(200, 200, 200, 0));
	background-image: -o-linear-gradient(90deg,rgba(200, 200, 200, 0) 0%,#C8C8C8 50%,rgba(200, 200, 200, 0));
	background-image: linear-gradient(90deg,rgba(200, 200, 200, 0) 0%,#C8C8C8 50%,rgba(200, 200, 200, 0));
	width: 1px;
	height: 100%;
}

/* page curl & shadow borrowed lovingly from cssdeck */
.page-curl:before, .page-curl:after {
	background: none;
	bottom: 12px;
	-moz-box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
	box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
	content: "";
	height: 10px;
	left: 12px;
	position: absolute;
	width: 40%;
	z-index: -1;
	-moz-transform: skew(-4deg) rotate(-4deg);
	-webkit-transform: skew(-4deg) rotate(-4deg);
	transform: skew(-4deg) rotate(-4deg);
}

.page-curl:after {
	-moz-transform: skew(4deg) rotate(4deg);
	-webkit-transform: skew(4deg) rotate(4deg);
	transform: skew(4deg) rotate(4deg);
	left: auto;
	right: 12px;
}

.page-curl

.shadow-right {
	background: -moz-linear-gradient(-45deg, #FFF 50%, #F5F5F5 100%) !important;
	background: -ms-linear-gradient(-45deg, #FFF 50%, #F5F5F5 100%) !important;
	background: -webkit-linear-gradient(-45deg, #FFF 50%, #F5F5F5 100%) !important;
	background: linear-gradient(-45deg, #FFF 50%, #F5F5F5 100%) !important;
}

.shadow-bottom:before, .shadow-bottom:after {
	top: auto;
	bottom: 12px;
	-moz-box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
	box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
}

.shadow-right:before {
	display: none;
}

hr
{
	margin-top: 30px;
	margin-bottom: 30px;
	border: 0;
    height: 1px;
	
	background-image: -webkit-linear-gradient(left, rgba(200,200,200,0), rgba(200,200,200,0.75), rgba(200,200,200,0)); 
    background-image:    -moz-linear-gradient(left, rgba(200,200,200,0), rgba(200,200,200,0.75), rgba(200,200,200,0)); 
    background-image:     -ms-linear-gradient(left, rgba(200,200,200,0), rgba(200,200,200,0.75), rgba(200,200,200,0));  
    background-image:      -o-linear-gradient(left, rgba(200,200,200,0), rgba(200,200,200,0.75), rgba(200,200,200,0)); 
}

div.separator
{
	position: relative;
	z-index: 5;
	height: 12px;
	background: #666666;
}

hr.white
{
	background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
    background-image:    -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
    background-image:     -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));  
    background-image:      -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0)); 
}

select
{
	padding-top: 7px;
	height: 38px;
	
}

img.border
{
	background: #FFFFFF;
	padding: 5px;
	border: 1px solid #CCCCCC;
}


.btn-huge
{
	padding: 15px 30px 15px 30px;
	font-size: 22px;
	line-height: 30px;
	margin-bottom: 25px;
}

blockquote
{
	/*background-image: url('../img/quote.png');*/
	background-repeat: no-repeat;
	padding-left: 25px;
	padding-right: 40px;
	border-left: 1px solid #DDDDDD;
}

blockquote.light
{
	margin-left: 5%;
	margin-top: 15px;
	color: #888888;
	font-size: 13px;
	padding-right: 15px;
}

.shadow
{
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 15px rgba(0,0,0,0.6);
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
}

.white-shadow
{
	-webkit-box-shadow: 0 0 15px rgba(255,255,255,0.8);
    -moz-box-shadow: 0 0 15px rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(255,255,255,0.8);
}

.shadow-light 
{
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 15px rgba(0,0,0,0.3);
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.offshadow
{
	-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

a, .btn, input[type="submit"]
{
	-moz-transition: all 300ms ease-out;
    -webkit-transition: all 300ms ease-out; 
    -ms-transition: all 300ms ease-out; 
    transition: all 300ms ease-out;
	cursor: pointer;
}

a:not(.btn)
{
	font-weight: 400;
	color: #555555;
	text-decoration: none;
	/*text-shadow: 1px 1px 1px rgba(0,0,0,0.15);*/
}

a:hover:not(.btn)
{
	font-weight: 400;
	color: #555555;
	text-decoration: underline;
	
}

a.white 
{
	color: #FFFFFF;
}

a.white:hover
{
	color: #FFFFFF;
}

i.icon-white 
{
	background-image: url('glyphicons-halflings-white.png');
}

div.stackable
{
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-left: 1px solid #EEEEEE;
	background: #E3E3E3;
	padding: 15px;
}

td.right
{
	text-align: right;
}
td.center
{
	text-align: center;
}

.rounded
{	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.animated
{
	-moz-transition: all 500ms ease-out;
    -webkit-transition: all 500ms ease-out; 
    -ms-transition: all 500ms ease-out; 
    transition: all 500ms ease-out;
}

.animated-fast
{
	-moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out; 
    -ms-transition: all 300ms ease-in-out; 
    transition: all 300ms ease-in-out;
}

.inner-shadow
{
	-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.35);
	box-shadow: inset 0 0 10px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.35);
	overflow: hidden;
}

a.tag
{
	cursor: pointer;
	display: inline-block;
	margin-right: 3px;
	margin-bottom: 3px;
	
	-moz-transition: all 300ms ease-out;
    -webkit-transition: all 300ms ease-out; 
    -ms-transition: all 300ms ease-out; 
    transition: all 300ms ease-out;
}
a.tag:hover
{
	color: #AA0000;
	text-decoration: line-through;
	background: #CCCCCC;
	background-color: #CCCCCC;
}

div.social
{
	width: 30px;
	height: 30px;
	
	opacity: 0.7;
	
	float: left;
	margin-right: 15px;
	cursor: pointer;
	
	
}

div.social:hover
{
	opacity: 1;
}

#fbIcon
{
	background-image: url('../img/facebook.png');
	background-repeat: no-repeat;
}

#twitIcon
{
	background-image: url('../img/twitter.png');
	background-repeat: no-repeat;
}

#searchbox
{
	background: url('../img/search.jpg') 5px center no-repeat #FFF;
    color: #666;
    float: left;
    font-size: 11px;
    margin: 7px 0px 0px 15px;
    opacity: 0.8;
    padding: 3px 5px 3px 20px;
    width: 80px;
	
    -moz-transition: all 300ms ease-out;
    -webkit-transition: all 300ms ease-out; 
    -ms-transition: all 300ms ease-out; 
    transition: all 300ms ease-out;
	
	
}

#searchbox:hover 
{ 
background: url('../img/search.jpg') 5px center no-repeat #FFF;
opacity: 1 }

#searchbox:focus 
{
	background: url('../img/search.jpg') 5px center no-repeat #FFF;
    opacity: 1;
    width: 120px;
}


.white
{
	color: #FFFFFF;
}

/* sweet UI adapted from clean-webkit-css3-ui on cssdeck.com */
/* Radio */

input[type="radio"] {
    background-color: #ddd;
    background-image: -webkit-linear-gradient(hsla(0,0%,100%,.1), hsla(0,0%,0%,.1));
    border-radius: 100%;
    box-shadow: inset 0 1px 1px 1px hsla(0,0%,100%,1),
                inset 0 -1px 1px 1px hsla(0,0%,0%,.25),
                0 1px 3px 1px hsla(0,0%,0%,.5),
                0 0 2px hsla(0,0%,0%,.25);
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin-right: 15px;
    position: relative;
    width: 20px;
    -webkit-appearance: none;
}

input[type="radio"]:after {
    background-color: #666;
    border-radius: 100%;
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.4),
                0 1px 1px hsla(0,0%,100%,.8);
    content: '';
    display: block;
    height: 12px;
    width: 12px;
    left: 4px;
    position: relative;
    top: 4px;
}

input[type="radio"]:checked:after {
    background-color: #b0c43c;
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.4),
                inset 0 2px 2px hsla(0,0%,100%,.4),
                0 1px 1px hsla(0,0%,100%,.8),
                0 0 2px 2px hsla(68,69%,76%,.4);
}

/* Input Text */

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, select, option
{
	cursor: pointer;
    background: #FAFAFA;
    background-size: 100% 100%, 200% 100%;
    background-position: 0 0, 5px 0;
    border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
    box-shadow: inset 0 1px 4px hsla(0,0%,0%,.15),
                inset 2px 5px 10px hsla(0,0%,0%,.15),
                0 0 0 1px hsla(0,0%,0%,.1);
    cursor: pointer;
    border: 0;
    color: #888;
    position: relative;
	
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;	
	font-size: 14px;
	line-height: 24px;
	padding: 4px;
	padding-left: 8px;
	height: 34px;
	
    -webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: all 500ms ease-out;
    -webkit-transition: all 500ms ease-out; 
    -ms-transition: all 500ms ease-out; 
    transition: all 500ms ease-out;
}

textarea
{
	min-height: 80px;
}

textarea:hover, input[type="text"]:hover, input[type="password"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="date"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, input[type="number"]:hover, input[type="email"]:hover, input[type="url"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="color"]:hover, .uneditable-input:hover
{
	box-shadow: inset 0 1px 4px hsla(0,0%,0%,.15),
                inset 2px 5px 10px hsla(0,0%,0%,.15),
                0 0 0 1px hsla(0,0%,0%,.1);
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus
{
    background: #FFFFFF;
    outline: 0 none;
	border: 0;
	box-shadow: inset 0 1px 4px hsla(0,0%,0%,.1),
                inset 0 0 10px hsla(0,0%,0%,.1),
                0 0 0 1px hsla(0,0%,0%,.1);
}