div.navbar
{
	margin-bottom: 0px;

	background-color: #FFFFFF;
	/*
	background-image: -moz-linear-gradient(top, #F1F1F1, #E1E1E1);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F1F1F1), to(#E1E1E1));
	background-image: -webkit-linear-gradient(top, #F1F1F1, #E1E1E1);
	background-image: -o-linear-gradient(top, #F1F1F1, #E1E1E1);
	background-image: linear-gradient(to bottom, #F1F1F1, #E1E1E1);
	background-repeat: repeat-x;
	*/
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFFFF', GradientType=0);	
	position: relative;
}

div#navback
{
	background: #666666;
	opacity: 0.8;
	position: absolute;
	z-index: 1;
	top: 54px;
	height: 42px;
	right: 0;
}

div.navbar ul.nav 
{
	margin: 0px;
}

div.navbar-inner
{	
	padding-top: 15px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	
	background: rgba(0,0,0,0);
	background-image: rgba(0,0,0,0);
	background-color: rgba(0,0,0,0);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#FFFFF', endColorstr='#FFFFFF', GradientType=0);

	overflow: hidden;
	
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	
}


ul.nav > li.divider-vertical 
{
	/*
	width: 0px;
	height: 80px;
	margin: 0px;
	margin-top: -20px;
	border-right: 1px solid white;
	border-left: 1px solid #F2F2F2;
	*/
	background-color: rgba(0,0,0,0);
	background-image: -webkit-linear-gradient(90deg,rgba(200, 200, 200, 0) 0%,#C8C8C8 50%,rgba(200, 200, 200, 0));
	background-image: -moz-linear-gradient(90deg,rgba(200, 200, 200, 0) 0%,#C8C8C8 50%,rgba(200, 200, 200, 0));
	background-image: -ms-linear-gradient(90deg,rgba(200, 200, 200, 0) 0%,#C8C8C8 50%,rgba(200, 200, 200, 0));
	background-image: -o-linear-gradient(90deg,rgba(200, 200, 200, 0) 0%,#C8C8C8 50%,rgba(200, 200, 200, 0));
	background-image: linear-gradient(90deg,rgba(200, 200, 200, 0) 0%,#C8C8C8 50%,rgba(200, 200, 200, 0));
	width: 1px;
	height: 60px;
	margin: 0px;
	margin-top: 5px;
	border: 0px;
}

.navbar ul.nav > li
{
	margin-bottom: 0px;
}

.navbar ul.nav > li > a
{
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.navbar ul.nav > li > a > h2
{
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 30px;
	padding-top: 0px;
	padding-bottom: 12px;
	margin-bottom: 0px;
	text-shadow: none;
	color: #FFFFFF;
	position: relative;
	z-index: 5;
	
	border-top: 8px solid rgba(0,0,0,0);
}

.navbar ul.nav > li > a > h2:hover
{
/*
	-webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	-moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
	overflow: hidden;
*/
	text-shadow: 0px 0px 3px rgba(0,0,0,0.9);

}


div#header-logo
{
	cursor: pointer;
	color: #FFFFFF;
	text-transform: uppercase;
	margin-top: -12px;
}

div#header-logo h2
{
	text-shadow: none;
}

div#header-logo h2 span
{
	vertical-align: middle;
}

div#user-nav
{
	z-index: 10;
	text-shadow: none;
	margin-top: 46px;
	padding-top: 1px;
	position: relative;
	color: #FFFFFF;
}

div#user-nav h2
{
	color: #FFFFFF;
}

div#user-nav a
{
	color: #FFFFFF;
	text-decoration: none;
	text-shadow: none;
	border-top: 8px solid transparent;
}

div#user-nav a:hover
{
	text-decoration: none;
	text-shadow: 0px 0px 3px rgba(0,0,0,0.9);
}

div#back
{
	position: absolute;
	top: 45px;
	left: 10px;
	z-index: 10;
	font-size: 14px;
}

div#edit
{
	position: absolute;
	top: 45px;
	right: 10px;
	z-index: 10;
	font-size: 14px;
}