// Place all the styles related to the Participations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.submissions
{
	overflow: hidden;
}

.submission
{
	float: left;
	position: relative;
	padding: 10px;
	margin-left: 0px;
	margin-right: 5px;
	margin-bottom: 5px;
	color: #555555;
}

.submission:hover
{
	-webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.25);
	box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.25);
	overflow: hidden;	
}

.submission iframe
{
	border: 1px solid #DDDDDD;
}

.submission a.follow
{
	position: absolute;
	top: 0; right: 0; left: 0; bottom: 0;
	z-index: 5;
}

.submission button.close
{
	position: absolute;
	top: 4px;
	right: 7px;
	opacity: 0.2;
	z-index: 10;
}

.submission button.close:hover
{
	opacity: 0.4;
}

.featured-submission
{
	position: relative;
}
