

iframe
{
	border: 0;
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 15px rgba(0,0,0,0.6);
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
}

.inner
{
}

.inner.shadow
{
	background: #FAFAFA;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.inner h1
{
	color: #555555;
}

h1.whiteshad
{
	color: #FFFFFF;
	/*text-shadow: 0 0 10px rgba(0,0,0,1);*/
}

div.cream
{
	position: relative;
	background: #FFFFFF;
	z-index: 1;
}



h1
{
	color: #666666;
	font-size: 48px;
	line-height: 60px;
	margin-top: 5px;
	margin-bottom: 15px;
	font-family: 'Bebas', sans-serif;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.15);
}

h1.title
{
	margin-bottom: 45px;
}

h2
{
	color: #888888;
	font-size: 24px;
	line-height: 32px;
	margin-bottom: 15px;
	font-weight: 400;
	font-family: 'Bebas', sans-serif;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.15);
}

h3
{
	color: #666666;
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
	font-family: 'Bebas', sans-serif;
}

.shadowy
{
	opacity: 0.8;
	background: #000000;
	position: relative;
}

.shadowy a.shadowlink:hover
{
	text-decoration: none;
}

.shadowy h1
{
	font-size: 42px;
	padding-top: 0px;
	
}

.shadowy h1:hover
{

}

.shaded-row
{
	position: absolute;
	top: 18px;
	z-index: 0;
	left: 0;
	right: 0;
	height: 280px;
	opacity: 0.8;
	background: #000000;
}

.featured
{
	height: 316px;
	width: 422px;
	position: relative;
}

.featured-stand
{
	position: absolute;
	top: 305px;
	left: -12px;
	right: -12px;
	z-index: 0;
	height: 10px;
	background-image: url('tucked.png');
	background-size: 444px 10px;
	background-repeat: no-repeat;
}

.featured-counter
{
	position: absolute;
	top: 314px;
	left: -12px;
	right: -10px;
	height: 50px;
	background: #000000;
	opacity: 0.8;
	color: #FFFFFF;
	
	text-align: center;
	
}

.featured-counter h2
{
	margin-top: 10px;
}

.featured-wrap
{
	opacity: 0.8;
	background: #000000;
	padding-left: 20px;
	margin-left: 0px;
	padding-bottom: 15px;
}

.featured-desc
{
	color: #FFFFFF;
	margin-top: 30px;
	position: relative;
	z-index: 5;
	font-size: 18px;
	line-height: 26px;
	padding-right: 15px;
}

.featured-desc h1
{
	color: #FFFFFF;
	font-size: 48px;
}


a.bluebutton
{
	text-decoration: none;
	position: relative;
	color: white;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-size: 14px;
	text-shadow: 0 1px 2px rgba(0,0,0,0.2);
	min-width: 40px;
	text-align: center;
	line-height: 16px;
	padding: 10px 10px 10px 10px;
	-webkit-user-select: none;
	
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	
	border-top: 1px solid #486f7d;
	border-bottom: 1px solid #2c4460;
	border-left: 1px solid #333333;
	border-right: 1px solid #333333;
	
	background: -webkit-gradient(radial, 50% -10, 0, center top, 40, from(rgba(112,172,228,0.15)), to(rgba(112,172,228,0))),
				-webkit-gradient(linear, center top, center bottom, from(#1c2b39), to(#131e2b));
	background: -moz-radial-gradient(50% -10px, circle closest-side, rgba(112,172,228,0.15), rgba(112,172,228,0) 40px),
				-moz-linear-gradient(top, #1c2b39, #131e2b);
				
	box-shadow: 0 2px 0 #0b141e, 0 2px 0 1px #060a0d, 0 0 0 1px #08121e;
	-webkit-box-shadow: 0 2px 0 #0b141e, 0 2px 0 1px #060a0d, 0 0 0 1px #08121e;
	-moz-box-shadow: 0 2px 0 #0b141e, 0 2px 0 1px #060a0d, 0 0 0 1px #08121e;
	
	top: -6px;
	margin-bottom: 3px;
	vertical-align: middle;
	
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
}

a.bluebutton:hover
{
	color: white;
	text-shadow: 0 0 3px rgba(255,255,255,0.9);
	text-decoration: none;
}

a.button.large
{
	font-size: 18px;
	padding: 10px 30px 10px 30px;
	text-transform: uppercase;
}

@-moz-document url-prefix() {
	.button {
	  font-weight: normal;
		
	}
}
.button:active
{
	top: -2px; outline: none;
}

a.button, input[type="submit"]
{
	font-size: 24px;
	line-height: 32px;
	font-weight: 400;
	font-family: 'Bebas', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #FFFFFF;
	padding: 5px 15px 3px 15px;
	
	position: relative;
	top: -6px;
	
	border-top: 1px solid #777777;
	border-bottom: 1px solid #2c2c2c;
	border-left: 1px solid #333333;
	border-right: 1px solid #333333;
	
	background: -webkit-gradient(radial, 50% -10, 0, center top, 40, from(rgba(228,228,228,0.15)), to(rgba(228,228,228,0))),
				-webkit-gradient(linear, center top, center bottom, from(#1c1c1c), to(#1c1c1c));
	background: -moz-radial-gradient(50% -10px, circle closest-side, rgba(228,228,228,0.15), rgba(228,228,228,0) 40px),
				-moz-linear-gradient(top, #1c1c1c, #1c1c1c);
				
	box-shadow: 0 2px 0 #0b141e, 0 2px 0 1px #060a0d, 0 0 0 1px #08121e;
	-webkit-box-shadow: 0 2px 0 #0b141e, 0 2px 0 1px #060a0d, 0 0 0 1px #08121e;
	-moz-box-shadow: 0 2px 0 #0b141e, 0 2px 0 1px #060a0d, 0 0 0 1px #08121e;
	
	text-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

a.button:hover, input[type="submit"]:hover
{
	color: #FFFFFF;
	text-decoration: none;
	
	text-shadow: 0 0 3px rgba(255,255,255,0.9);
}

a.button:active , input[type="submit"]:active 
{
	text-decoration: none;
	top: -4px; outline: none;
}
